<div class="section group heading heading-desktop heading-admin">
	Sign up
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="section group form-section">

	  	<div class="col span-label form-label">
	  		<%= f.label :email %>
	  	</div>
	  	
	  	<div class="col span-input">
	  		<%= f.email_field :email, autofocus: true %>
	  	</div>
  
  </div>

  <div class="section group form-section">

	  	<div class="col span-label form-label">
	  		<%= f.label :password %>
	  	</div>

	  	<div class="col span-input">
	  		<%= f.password_field :password, autocomplete: "off" %>
	  	</div>

  </div>

  <div class="section group form-section">
	  	<div class="col span-label form-label">
	  		<%= f.label :password_confirmation %>
	  	</div>

	  	<div class="col span-input">
	  		<%= f.password_field :password_confirmation, autocomplete: "off" %>
	    </div>

  </div>

 <%= f.submit "Sign up", :class =>"button button-new button-submit" %>
<% end %>

<%#= render "devise/shared/links" %>
