<%= render 'layouts/admin_menu' %>

<%= form_for(@subcategory) do |f| %>
  <% if @subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

      <ul>
      <% @subcategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% f.hidden_field('category_id', :value => params[:category_id]) %>

  <div class="admin-form-heading">
    <p>Choose Category</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
     <%= f.label :category_id %>
   </div>
   <div class="col span-input admin-field">
      <%= f.collection_select :category_id, Category.order(:name), :id, :name, :include_blank=>false %>
    </div>
  </div>

  <div class="admin-form-heading">
    <p>Subcategory Details</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :name %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :page_title %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :page_title %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :page_description %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_area :page_description, :class => 'tinymce', :rows => 10, :cols => 120 %>
      <%= tinymce %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :content_title %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :content_title %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :content_description %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_area :content_description, :class => 'tinymce', :rows => 10, :cols => 120 %>
      <%= tinymce %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :optional_information %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_area :optional_information, :class => 'tinymce', :rows => 10, :cols => 120 %>
      <%= tinymce %>
    </div>
  </div> 

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :banner_link_text %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :banner_link_text %>
    </div>
  </div>   

  <div class="admin-form-heading">
    <p>Home Page Content</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :home_page_content %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_area :home_page_content, :class => 'tinymce', :rows => 10, :cols => 120 %>
      <%= tinymce %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :link_one, 'First Link Text (optional)' %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :link_one %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :link_two, 'Second Link Text (optional)' %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :link_two %>
    </div>
  </div>

  <div class="admin-form-heading">
    <p>Image(s)</p>
  </div>  

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :main_image %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :main_image %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :banner_image %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :banner_image %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :bottom_divider_image %>
    </div>
    <div lass="col span-input admin-field">
      <%= f.file_field :bottom_divider_image %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Save", :class => "button button-new" %>
  </div>
<% end %>
