<%= render 'layouts/admin_menu' %>

<div class="heading heading-desktop heading-admin">
  Listing subcategories
</div>

<table class="admin-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Main Category</th>
      <th>Page Desc.</th>
      <th>Content Desc.</th>
      <th>Banner Image</th>
      <th>Main Image</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @subcategories.each do |subcategory| %>
      <tr>
        <td><%= subcategory.name %></td>
        <td><%= subcategory.category.name %></td>
        <td><%= subcategory.page_description.html_safe unless subcategory.page_description.nil? %></td>
        <td><%= subcategory.content_description.html_safe unless subcategory.content_description.nil? %></td>
        <td><%= image_tag subcategory.banner_image_url(:thumbnail).to_s %></td>
        <td><%= image_tag subcategory.main_image_url(:thumbnail).to_s %></td>
        <td>
          <%= link_to 'Show', subcategory %><br />
          <%= link_to 'Edit', edit_subcategory_path(subcategory) %><br />
          <%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subcategory', new_subcategory_path, :class => "button button-new" %>
