<%= render 'layouts/menu_mobile' %>

<div class="menu">
	<%= render 'layouts/menu_desktop' %>
</div>

<div class="page-title page-title-brown page-title-phone subcat-title-phone">
	<div class="col-full-row">
		<%= @subcategory.page_title %>
	</div>
</div>

<!-- page header  -->
<div class="section group banner-desktop">
	<div class="col-full-row">
		<%= image_tag @subcategory.banner_image_url.to_s %>
	</div>
</div>

<div class="section group banner-mobile">
	<div class="col-full-row">
		<%= image_tag @subcategory.banner_image_url.to_s %>
	</div>
</div>

<div class="section-on-top page-title page-title-brown hidden-mobile">
	<div class="col span-3-of-3">
		<%= @subcategory.page_title %>
	</div>
</div>


<div class="section group page-description">

	<div class="col span-1-of-3 page-desc-text page-desc-subcat">
		<%= @subcategory.page_description.html_safe unless @subcategory.page_description.nil? %>
	</div>

	<% if !(@subcategory.banner_link_text.eql? "")  %>
		<div class="button button-grey subcat-desc-button">
			<%= link_to @subcategory.banner_link_text %>
		</div>
	<% end %>

</div>

<%= render 'layouts/social_feed_top' %>

<!-- content headings and banner in desktop -->
<div class="section group hidden-mobile">

	<div class="col-full-row banner-desktop">
		<%= image_tag @subcategory.main_image_url.to_s %>
	</div>

	<% if !(@subcategory.content_title.eql? "") %>
		<% if @subcategory.name.eql? "Meet The Robinsons" %>
			<div class="section-on-top content-title meet-rob-content-title">
				<p><%= @subcategory.content_title %></p>
			</div>
		<% else %>
			<div class="section-on-top content-title subcat-content-title">
				<p><%= @subcategory.content_title %></p>
			</div>
		<% end %>	
	<% end %>	

</div>

<!-- content in phone -->

<div class="section group main-image hidden-desktop">
	<div class="col-full-row">
		<%= image_tag @subcategory.main_image_url.to_s %>
	</div>
</div>

<div class="section group hidden-desktop">
	<div class="coll-full-row content-title subcat-content-title">
		<p><%= @subcategory.content_title %></p>
	</div>
</div>

<!-- list items desktop -->
<div class="subcat-area hidden-mobile">
	<% if @subcategory.name.eql? "Meet The Robinsons" %>

		<% @li.each do |li| %>

			<div class="section group item-listing">

				<div class="col span-3-of-3 item-image rob-item-image">
					<%= image_tag li.item_image_url.to_s %>
				</div>

				<div class="col span-2-of-3 section-on-top rob-item-details">
					<h4><%= li.name %></h4>
					<div class="rob-quote">
						<%= li.description.html_safe unless li.description.nil? %>
					</div>
					<div class="rob-profile-optional-info">
						<%= li.optional_information.html_safe unless li.optional_information.nil? %>
					</div>
				</div>

				<% if !(li.link_text.eql? "") %>
					<div class="section-on-top button button-brown rob-list-item-button">
						<%= link_to li.link_text, subcategory_path(@haylage) %>
					</div>
				<% end %>

			</div>

		<% end %>

	<% else %>

		<% @li.each do |li| %>

			<div class="section group item-listing">

				<div class="col span-3-of-3 item-image subcat-item-image">
					<%= image_tag li.item_image_url.to_s %>
				</div>

				<div class="col span-2-of-3 section-on-top item-details subcat-item-details">
					<h4><%= li.name %></h4>
					<p><%= li.description.html_safe unless li.description.nil? %></p>
				</div>

				<div class="section-on-top button button-brown list-item-button subcat-list-item-button">
					<%= link_to li.link_text %>
				</div>

			</div>

		<% end %>

	<% end %>

	<div class="col-full-row">
		<%= image_tag @subcategory.bottom_divider_image_url.to_s %>
	</div>	
</div>

<!-- list items mobile -->
<div class="subcat-area subcat-area-mobile">
	<% @li.each do |li| %>
		<div class="section group item-title-mobile">
			<div class="col-full-row">
				<%= li.name %>
			</div>
		</div>
 
		<div class="section group item-image-mobile">
			<div class="col-full-row">
				<%= image_tag li.item_image_url.to_s %>
			</div>
		</div>

		<div class="section group item-description-mobile">
			<div class="col-full-row">
				<%= li.description.html_safe unless li.description.nil? %>
			</div>
		</div>

		<div class="section group item-optional-info-mobile">
			<div class="col-full-row">
				<%= li.optional_information.html_safe unless li.optional_information.nil? %>
			</div>
		</div>

		<% if !(li.link_text.eql? "") %>
			<div class="section group button-brown link-text-mobile">
				<div class="col-full-row">
					<%= link_to li.link_text %>
				</div>
			</div>
		<% end %>
	<% end %>	
</div>

<div class="col-full-row subcat-divider-image hidden-desktop">
	<%= image_tag @subcategory.bottom_divider_image_url.to_s %>
</div>	


<div class="placeholders">
	<div class="map-placeholder">
		<%= image_tag "map.jpg", :id => "map" %>
	</div>
</div>