/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/* line 16, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body {
  /* buttons */
  /* forms */
  /* everything else */
  /* responsive grid */
  /* social media */
}
/* line 20, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body li {
  list-style: none;
}
/* line 22, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-section-heading {
  font-family: "Verdana";
  font-weight: 100;
  font-size: 24px;
  border-bottom: 1px solid #000000;
  margin-top: 3%;
}
/* line 31, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-form-heading {
  font-family: "Courier New";
  font-weight: 100;
  font-size: 20px;
  color: #949494;
  border-bottom: 1px solid #848484;
}
/* line 39, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-form-note {
  font-family: "Verdana";
  font-weight: 100;
  font-size: 16px;
  font-style: italic;
  color: #F9F9F9;
}
/* line 47, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-label {
  font-family: "Verdana";
  font-weight: 100;
  font-size: 18px;
  min-width: 300px;
}
/* line 54, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-table {
  font-family: "Verdana";
  font-size: 14px;
  margin: 5% auto 5% auto;
  width: 98%;
  border-collapse: collapse;
}
/* line 63, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-table a, body .admin-table a.visited {
  color: #848484;
  text-decoration: none;
}
/* line 68, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-table thead {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
}
/* line 74, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-table td {
  color: #000000;
  font-weight: 100;
  text-align: center;
}
/* line 81, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-table tbody tr:nth-of-type(odd) {
  background-color: #FFF;
}
/* line 82, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-table tbody tr:nth-of-type(even) {
  background-color: #F0F0F0;
}
/* line 86, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .alert, body .notice {
  font-family: "Verdana";
  font-size: 16px;
  font-weight: 100;
  color: #848484;
}
/* line 93, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .heading {
  font-family: "Courier New";
  font-weight: bold;
  text-align: center;
  margin: 0 0 3% 0;
  border-bottom: 1px solid #F0F0F0;
}
/* line 102, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .heading-admin {
  color: #848484;
}
/* line 105, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .information-area img {
  width: 100%;
}
/* line 108, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .admin-notes {
  font-family: "Courier New";
  font-size: 16px;
  font-weight: 100px;
  font-style: italic;
  color: #848484;
  text-align: center;
}
/* line 119, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .button {
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  font-weight: 100;
  text-align: center;
  border-radius: 3px;
  border: none;
  color: #FFF;
  text-decoration: none;
}
/* line 130, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .button a {
  color: #FFF;
  text-decoration: none;
}
/* line 136, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .button-new, body .button-submit {
  background-color: #428bca;
  font-size: 16px;
  margin-top: 3%;
}
/* line 142, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .button-new {
  padding: 1% 2% 1% 2%;
}
/* line 144, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .button-grey {
  background-color: #84735F;
  padding: 1%;
}
/* line 149, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .button-brown {
  background-color: #45282a;
  padding: 1%;
}
/* line 154, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .button-green {
  background-color: #4E751C;
  padding: 1%;
  width: 20%;
}
/* line 160, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .button-submit {
  width: 13%;
  padding: 1%;
}
/* line 165, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .about-home-button {
  top: 80%;
  left: 45%;
  width: 22%;
}
/* line 171, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .equip-home-button {
  top: 70%;
  right: 5%;
  width: 15%;
}
/* line 177, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .list-item-button {
  top: 70%;
  right: 10%;
  width: 15%;
}
/* line 183, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .rob-list-item-button {
  top: 80%;
  left: 23%;
  width: 25%;
}
/* line 189, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .first-prod-link, body .second-prod-link {
  float: right !important;
}
/* line 193, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .form-section {
  color: #848484;
  font-family: "Verdana";
  font-weight: 300;
  font-size: 20px;
  margin: 2% auto 2% auto;
  width: 95%;
}
/* line 205, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .page-title, body .content-area, body .category-content-area, body .subcat-page-title {
  color: #FFF;
}
/* line 207, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .page-title {
  font-family: "Trajan Pro";
  text-align: center;
}
/* line 212, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .page-title-brown {
  background-color: rgba(69, 40, 42, 0.9);
}
/* line 214, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .page-description {
  background-color: #BDB4A7;
  color: #FFF;
  font-family: "Verdana", sans-serif;
  font-weight: 100;
  margin-top: -1% !important;
  width: 100%;
}
/* line 225, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .content-area, body .category-content-area {
  font-family: "Verdana", sans-serif;
  text-align: left;
}
/* line 230, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .subcat-area {
  background-color: #A1B098;
  margin-top: -1%;
  padding: 1% 0 1% 0;
}
/* line 235, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .subcat-area img {
  margin: 1% 0 1% 0;
}
/* line 238, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .item-image {
  background-color: #FFF;
}
/* line 240, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .content-title {
  background-color: rgba(78, 117, 28, 0.8);
}
/* line 243, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .content-title p {
  color: #FFF;
  margin: 0;
  padding: 1% 3% 1% 3%;
}
/* line 250, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .subcat-content-title {
  bottom: 2%;
  left: 0;
  text-align: center;
}
/* line 256, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .meet-rob-content-title {
  top: 40%;
  left: 15%;
  width: 70%;
  text-align: center;
  font-family: "Verdana";
}
/* line 265, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .rob-item-details {
  background-color: rgba(255, 255, 255, 0.7);
}
/* line 267, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .rob-item-details h4 {
  font-family: "Trajan Pro";
  color: rgba(69, 40, 42, 0.8);
  text-align: center;
  margin: 1% 5% 3% 0;
}
/* line 275, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .rob-quote {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}
/* line 279, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .rob-quote p {
  color: rgba(69, 40, 42, 0.7);
  font-family: "Verdana";
  margin: 1% 0 0 0;
  text-align: center;
  line-height: 34px;
  font-size: 20px;
}
/* line 289, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .rob-profile-optional-info {
  color: #FFF;
  text-align: center;
  font-family: "Verdana";
}
/* line 295, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .rob-profile-optional-info:nth-of-type(odd) {
  background-color: #6C4A3E;
}
/* line 296, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .rob-profile-optional-info:nth-of-type(even) {
  background-color: #97922C;
}
/* line 299, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .equip-clients-divider img {
  width: 99%;
}
/* line 303, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .placeholders img {
  width: 99%;
}
/* line 308, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .section-on-top {
  clear: none;
  position: absolute;
  z-index: 1000;
}
/* line 315, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .section {
  clear: both;
  padding: 0;
  margin: 0 auto;
  position: relative;
}
/* line 322, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .col-full-row {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* line 331, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .col {
  display: block;
  float: left;
}
/* line 336, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .col:first-child {
  margin-left: 0;
}
/* line 338, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .group:before, body .group:after {
  content: "";
  display: table;
}
/* line 343, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .group:after {
  clear: both;
}
/* line 345, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .group {
  zoom: 1;
}
/* line 349, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .social-feed-top {
  background-color: #F4F4F4;
}
/* line 353, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .like-box-frame {
  position: relative;
  z-index: 5001;
  margin: -3% 6% -4% 0 !important;
  left: 3%;
  background-color: #FFF;
  color: #004C99;
  font-family: "Verdana", sans-serif;
  font-weight: bold;
  border: 10px solid #A1B098;
  border-radius: 25px;
  font-size: 12px;
}
/* line 371, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .like-box-frame h4 {
  margin: 0;
  padding: 0;
  color: #99BA4B;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
}
/* line 380, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .like-box-frame img {
  margin: 4% 4% 0 4%;
  padding: 0;
  float: left;
}
/* line 386, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
body .like-box-frame .like-button {
  position: relative;
  z-index: 5000;
  float: right;
}
@media (min-width: 768px) {
  /* line 397, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body #nav-wrap {
    display: none !important;
  }
  /* line 399, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .hidden-desktop, body .subcat-area-mobile {
    display: none;
  }
  /* line 401, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .page-title-phone {
    display: none;
  }
  /* line 403, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .col {
    margin: 1% 0 1% 1.6%;
  }
  /* line 405, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .span-label {
    width: 23%;
  }
  /* line 406, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .span-input {
    width: 50%;
  }
  /* line 408, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .menu {
    margin-top: 0 !important;
    font-family: "Courier New", sans-serif;
    font-weight: bold;
    color: #848484;
  }
  /* line 414, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .menu a {
    color: #848484;
    text-decoration: none;
  }
  /* line 420, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .menu-list-phone {
    padding-left: 0;
    font-size: 24px;
  }
  /* line 425, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .menu-list-links {
    padding-left: 0;
    font-size: 18px;
    text-align: left;
  }
  /* line 430, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .menu-list-links li {
    margin: 3% 0 3% 0;
  }
  /* line 433, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .page-title {
    top: 30%;
  }
  /* line 435, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .page-desc-text {
    float: right;
    padding: 0;
    text-align: center;
    line-height: 34px;
  }
  /* line 442, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .page-desc-subcat {
    font-size: 22px;
  }
  /* line 444, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .information-area {
    margin-top: -1%;
  }
  /* line 446, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .content-area-brown, body .subcat-page-title-brown {
    background-color: rgba(69, 40, 42, 0.7);
  }
  /* line 448, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .content-area-green {
    background-color: rgba(78, 117, 28, 0.7);
  }
  /* line 450, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .content-area, body .category-content-area {
    padding: 2%;
  }
  /* line 453, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .content-area h1, body .content-area h2, body .content-area h3, body .content-area h4, body .content-area h5, body .content-area h6, body .category-content-area h1, body .category-content-area h2, body .category-content-area h3, body .category-content-area h4, body .category-content-area h5, body .category-content-area h6 {
    padding: 0;
    margin: 0 0 2% 0;
  }
  /* line 458, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .content-area p, body .category-content-area p {
    padding: 0;
    margin: 0;
  }
  /* line 464, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .subcat-page-title {
    font-weight: 700;
    width: 30%;
    text-align: center;
  }
  /* line 470, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .subcat-content-title {
    width: 38%;
    font-family: "Trajan Pro";
  }
  /* line 475, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-about-content {
    width: 60%;
    right: 18%;
  }
  /* line 479, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-about-content h1, body .home-about-content h2, body .home-about-content h3, body .home-about-content h4, body .home-about-content h5, body .home-about-content h6 {
    font-size: 30px;
  }
  /* line 482, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-products-title, body .home-products-sub-title {
    font-family: "Courier New";
  }
  /* line 484, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-products-title {
    padding: 1% 3% 1% 3%;
    right: 48%;
  }
  /* line 489, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-products-sub-title {
    padding: 1%;
    right: 51%;
  }
  /* line 494, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-products-content {
    width: 45%;
    color: #4A4034;
    font-family: "Verdana";
    font-weight: bold;
    font-size: 17px;
    line-height: 50px;
  }
  /* line 504, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-haylage-content {
    width: 50%;
    right: 8%;
  }
  /* line 508, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-haylage-content h1, body .home-haylage-content h2, body .home-haylage-content h3, body .home-haylage-content h4, body .home-haylage-content h5, body .home-haylage-content h6 {
    font-size: 25px;
  }
  /* line 511, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .haylage-inset-image {
    z-index: 5003;
  }
  /* line 514, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .haylage-inset-image img {
    border: 10px solid #FFF;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -ms-tranfsorm: rotate(-10deg);
  }
  /* line 524, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-products-listing {
    background-color: #BDB4A7;
    padding-bottom: 3%;
  }
  /* line 529, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-prod-listing {
    display: block;
    text-align: center;
    background-color: #FFF;
    border: 10px solid #A1B098;
    border-radius: 15px;
  }
  /* line 538, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-prod-listing p {
    font-family: "Courier New";
    font-weight: 100;
    font-size: 35px;
    color: #848484;
    margin: 1% 0 2% 0;
  }
  /* line 546, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-prod-listing img {
    width: 70%;
    text-align: center;
    margin-bottom: 2%;
  }
  /* line 553, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-equipment {
    background-color: #F0F0F0;
  }
  /* line 555, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-equipment-content {
    width: 49%;
    margin: 0 auto;
    font-family: "Verdana";
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    color: #84735F;
  }
  /* line 565, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .home-equipment-content h1, body .home-equipment-content h2, body .home-equipment-content h3, body .home-equipment-content h4, body .home-equipment-content h5, body .home-equipment-content h6 {
    font-size: 24px;
    font-weight: bold;
  }
  /* line 571, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .item-details {
    font-family: "Verdana";
    color: #84735F;
  }
  /* line 576, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/application.css.scss */
  body .subcat-item-details {
    top: 1%;
    right: 1%;
  }
}
@media (min-width: 1040px) {
  /* hide mobile only stuff */
  /* line 6, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .banner-mobile, .like-button-tablet, .subcat-area-mobile {
    display: none !important;
  }

  /* general styling */
  /* line 10, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .page-body {
    width: 1167px;
    margin: 0 auto;
    padding: 0;
  }

  /* menu */
  /* line 18, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .menu {
    margin-left: 2% !important;
  }

  /* line 20, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .menu-list-phone {
    margin: -83% 0 83% 0;
  }

  /* line 22, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .menu-list-links {
    margin: -76% 0 76% 30%;
  }

  /* buttons */
  /* line 26, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .button {
    font-size: 22px;
  }

  /* line 28, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .button-grey {
    width: 25%;
  }

  /* line 32, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .home-page-desc-button {
    top: -30%;
    margin: 16% 3% 2% 50%;
  }

  /* line 36, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .subcat-desc-button {
    margin: 16% 3% 2% 50%;
  }

  /* line 38, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .first-prod-link, .second-prod-link {
    width: 14%;
  }

  /* line 40, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .first-prod-link {
    margin: -2% 12% 2% 12% !important;
  }

  /* line 42, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .second-prod-link {
    margin: -2% 4% 2% 4% !important;
  }

  /* admin page headings */
  /* line 46, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .heading-desktop {
    font-size: 50px;
  }

  /* grid of three */
  /* line 50, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .span-3-of-3 {
    width: 100%;
  }

  /* line 51, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .span-2-of-3 {
    width: 66.1%;
  }

  /* line 52, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .span-1-of-3 {
    width: 32.2%;
  }

  /* dynamic grid of three */
  /* line 56, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .span-3 {
    width: 25%;
  }

  /* grid of four */
  /* line 60, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .span-5-of-5 {
    width: 100%;
  }

  /* line 61, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .span-4-of-5 {
    width: 16%;
  }

  /* line 62, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .span-3-of-5 {
    width: 16%;
  }

  /* line 63, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .span-2-of-5 {
    width: 16%;
  }

  /* line 64, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .span-1-of-5 {
    width: 16%;
  }

  /* social media */
  /* line 68, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .like-box-frame {
    width: 250px;
    height: 180px;
  }

  /* everything else */
  /* line 75, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .page-title {
    padding: 1% 3% 1% 3%;
    left: 36%;
    font-size: 30px;
  }

  /* line 81, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .page-desc-home {
    font-size: 26px;
  }

  /* line 83, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .page-desc-text {
    width: 64%;
    margin: -1% 5% 1% 0 !important;
    min-height: 200px;
  }

  /* line 89, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .content-area, .category-content-area {
    font-size: 22px;
  }

  /* line 91, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .content-area {
    top: 23%;
  }
  /* line 93, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .content-area p {
    line-height: 36px;
  }

  /* line 96, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .category-content-area {
    top: 13%;
  }

  /* line 98, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .home-about-contet {
    top: 23%;
  }

  /* line 101, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .home-products-title {
    top: 19%;
    font-size: 42px;
  }

  /* line 106, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .home-products-sub-title {
    font-size: 28px;
    top: 43%;
  }

  /* line 111, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .home-products-content {
    top: 62%;
    right: 34%;
    line-height: 50px;
  }

  /* line 117, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .home-haylage-content {
    top: 10%;
  }

  /* line 119, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .haylage-inset-image {
    top: 0;
    left: 6%;
  }
  /* line 122, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .haylage-inset-image img {
    width: 76% !important;
  }

  /* line 125, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .home-prod-listing {
    margin: -2% 3% 0 3% !important;
  }

  /* line 127, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .meet-rob-content-title {
    font-size: 32px;
  }

  /* line 129, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .subcat-content-title {
    font-size: 62px;
  }

  /* line 131, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .rob-item-details {
    top: 10%;
    left: 10%;
    width: 50%;
    font-size: 32px;
  }
  /* line 137, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .rob-item-details h4 {
    font-size: 45px;
    text-align: center;
  }

  /* line 144, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .rob-quote p {
    font-size: 18px;
    line-height: 27px;
  }

  /* line 150, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .rob-profile-optional-info {
    font-size: 14px;
    line-height: 23px;
    margin-top: 6%;
    padding: 1% 0 1% 0;
  }
  /* line 156, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/desktop.css.scss */
  .rob-profile-optional-info p {
    padding: 0 3% 0 3%;
  }
}
/* line 5, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/general_pages.css.scss */
.admin-links {
  background-color: #949494;
  color: #FFF;
  font-family: "Verdana";
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  padding: 1% 2% 1% 2%;
  margin: 0 auto;
  margin-top: 3%;
  border-radius: 5px;
  width: 30%;
}
/* line 19, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/general_pages.css.scss */
.admin-links a, .admin-links a.visited {
  color: #FFF;
  text-decoration: none;
}
/* Styling for phones */
@media (min-width: 340px) and (max-width: 767px) {
  /* line 6, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  #nav {
    clear: both !important;
    position: relative;
    background-color: #696969;
    font-family: "Verdana";
    font-weight: 100;
    color: #646464;
    text-align: center;
    display: none;
  }
  /* line 17, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  #nav a, #nav a.visited {
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid #F8F8F8;
  }
  /* line 23, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  #nav li {
    margin: 0 7% 0 0;
    padding: 2% 1% 2% 1%;
  }

  /* line 29, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  #mobile-icon, #nav-wrap {
    position: absolute !important;
    z-index: 6000 !important;
    top: 0 !important;
    width: 95%;
    background-color: #696969;
    color: #F4F4F4;
    display: block !important;
    font-family: "Verdana";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  /* hide desktop only code and display mobile elements */
  /* line 50, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .menu, .banner-desktop, .button-grey, .social-feed-top,
  .about-home-button, .home-products, .home-haylage,
  .haylage-inset-image, .home-haylage-content, .home-products-listing,
  .hidden-mobile, .social-placeholder, .map-placeholder {
    display: none;
  }

  /* line 55, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .main-image img, .subcat-divider-image img, .item-image-mobile img {
    width: 99%;
  }

  /* line 58, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .link-text-mobile {
    font-family: "Verdana";
    font-weight: 100;
    font-size: 16px;
  }
  /* line 63, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .link-text-mobile a, .link-text-mobile a.visited {
    color: #FFF;
    text-decoration: none;
  }

  /* line 69, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .banner-mobile {
    display: block !important;
  }
  /* line 71, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .banner-mobile img {
    width: 99%;
  }

  /* line 74, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .page-title-phone {
    display: block;
    top: 0;
    width: 98%;
    font-size: 22px;
    text-align: center;
    margin: 4% 1% 0 1% !important;
    padding: 3% 1% 3% 1%;
  }

  /* line 84, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .subcat-title-phone {
    margin: 0 !important;
    text-align: center !important;
  }

  /* line 89, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .subcat-content-title {
    width: 100%;
    font-family: "Verdana";
    margin-top: -1%;
    font-size: 20px;
  }
  /* line 95, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .subcat-content-title p {
    padding: 1% 0 1% 0;
    margin: 0;
  }

  /* line 101, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .subcat-area-mobile {
    margin-top: 1% !important;
  }

  /* general styling */
  /* line 105, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .page-body {
    width: 99% !important;
  }

  /* line 109, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .section-on-top {
    position: relative;
  }

  /* responsive grid tweaks  */
  /* line 113, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .col {
    margin: 1% 0 1% 0;
  }

  /* grid of three */
  /* line 117, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .span_3_of_3 {
    width: 100%;
  }

  /* line 118, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .span_2_of_3 {
    width: 100%;
  }

  /* line 119, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .span_1_of_3 {
    width: 100%;
  }

  /* line 124, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .span-3
  .page-desc-text {
    width: 90%;
    padding: 0 0 0 5%;
  }

  /* line 129, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .page-desc-text, .content-area {
    padding: 0 0 3% 5%;
    line-height: 24px;
    font-size: 18px !important;
  }

  /* line 135, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .information-area {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  /* line 141, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .information-area p {
    margin: 0;
    padding: 0 1% 0 1%;
  }

  /* line 147, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .content-area-brown {
    background-color: #45282a;
  }

  /* line 149, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .content-area {
    margin-top: -2%;
    width: 95%;
  }
  /* line 152, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .content-area p {
    margin: 0 1% 0 1%;
  }

  /* line 158, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .home-equipment img {
    width: 99%;
  }

  /* line 161, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .home-equipment-content {
    width: 98%;
    text-align: center;
    display: block;
    font-size: 16px;
  }

  /* line 168, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .client-placeholder {
    margin-top: 1%;
  }

  /* line 171, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .item-title-mobile, .item-description-mobile,
  .item-optional-info-mobile {
    font-family: "Verdana";
    font-weight: 100;
    font-size: 18px;
    color: #FFF;
  }

  /* line 178, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .item-description-mobile:nth-of-type(odd) {
    background-color: #6C4A3E;
  }

  /* line 179, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/mobile.css.scss */
  .item-description-mobile:nth-of-type(even) {
    background-color: #97922C;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  /* dynamic grid of three */
  /* line 5, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .span-3 {
    width: 20%;
  }

  /* social media */
  /* line 10, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .social-media-image img {
    width: 70%;
  }

  /* line 13, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .like-box-frame {
    width: 190px;
    height: 160px;
  }
  /* line 17, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .like-box-frame img {
    width: 40%;
  }

  /* general styling */
  /* line 22, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .page-body {
    width: 99%;
  }

  /* line 24, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .banner-mobile, .like-button-desktop {
    display: none;
  }

  /* line 27, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .banner-desktop img {
    width: 99%;
  }

  /* line 30, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .menu {
    margin-left: 4% !important;
  }

  /* line 32, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .menu-list-phone {
    margin: -120% 0 120% 0;
  }

  /* line 34, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .menu-list-links {
    margin: -113% 0 113% 25%;
  }

  /* line 36, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .button {
    font-size: 18px;
  }

  /* line 38, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .button-grey {
    margin: 30% 3% 2% 50%;
    width: 30%;
  }

  /* line 43, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-page-desc-button {
    top: -27%;
    right: 10%;
  }

  /* line 48, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .subcat-desc-button {
    margin-top: 40%;
  }

  /* line 50, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .first-prod-link, .second-prod-link {
    width: 16% !important;
  }

  /* line 52, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .first-prod-link {
    margin: -2% 10% 2% 10% !important;
  }

  /* line 54, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .second-prod-link {
    margin: -2% 4% 2% 4% !important;
  }

  /* line 56, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .page-title {
    padding: 1%;
    left: 40%;
    font-size: 26px;
  }

  /* line 62, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .page-desc-text {
    font-size: 20px;
    width: 55%;
    margin: -1% 3% 1% 0 !important;
    min-height: 300px;
  }

  /* line 69, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .content-area {
    font-size: 17px;
  }
  /* line 71, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .content-area p {
    line-height: 32px;
  }

  /* line 74, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-about-content {
    top: 20%;
  }

  /* line 76, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-products-title {
    top: 10%;
    font-size: 32px;
  }

  /* line 81, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-products-sub-title {
    top: 33%;
    font-size: 22px;
  }

  /* line 86, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-products-content {
    top: 52%;
    right: 38%;
    line-height: 30px !important;
  }

  /* line 93, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-haylage-content {
    top: 5%;
  }
  /* line 96, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-haylage-content p {
    font-size: 15px;
  }
  /* line 98, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-haylage-content h1, .home-haylage-content h2, .home-haylage-content h3, .home-haylage-content h4, .home-haylage-content h5, .home-haylage-content h6 {
    font-size: 18px !important;
  }

  /* line 101, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .haylage-inset-image {
    top: 10%;
    left: 6%;
  }
  /* line 105, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .haylage-inset-image img {
    width: 50% !important;
  }

  /* line 108, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-prod-listing {
    margin: 0 5% 0 5% !important;
  }
  /* line 110, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .home-prod-listing p {
    min-height: 76px;
  }

  /* line 113, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .meet-rob-content-title {
    font-size: 30px;
    width: 80%;
  }

  /* line 118, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .rob-item-details {
    width: 50%;
    top: 10%;
    left: 15%;
  }
  /* line 122, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .rob-item-details h4 {
    font-size: 25px;
  }

  /* line 125, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .item-listing {
    background-color: #FFF;
  }

  /* line 127, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .subcat-item-details {
    width: 50%;
    float: right;
  }

  /* line 132, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .subcat-content-title {
    font-size: 40px;
  }

  /* line 134, /home/sheekapatak/projects/testapps/robinson_farms/app/assets/stylesheets/tablet.css.scss */
  .list-item-button {
    top: 80% !important;
  }
}
