<%= render 'layouts/admin_menu' %>

<%= form_for(@general_page) do |f| %>
  <% if @general_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_page.errors.count, "error") %> prohibited this general_page from being saved:</h2>

      <ul>
      <% @general_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="admin-form-heading">
    <p>Home Page Images</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :home_page_banner %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :home_page_banner %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :products_home_page_top_image, 'Products Banner (Home Page)' %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :products_home_page_top_image %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :haylage_home_banner, 'Haylage Banner (Home Page)' %>
    </div>
    <div class="col span-input admin-field"> 
      <%= f.file_field :haylage_home_banner %>
    </div>    
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :haylage_inset_image %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :haylage_inset_image %>
    </div>    
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :equipment_home_banner %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :equipment_home_banner %>
    </div>    
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :equipment_inset_image %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :equipment_inset_image %>
    </div>    
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :clients_logo_images %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :clients_logo_images %>
    </div>    
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :client_image_left %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :client_image_left %>
    </div>    
  </div> 

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :client_image_middle %>
      </div>
      <div class="col span-input admin-field">
        <%= f.file_field :client_image_middle %>
      </div>
  </div> 

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :client_image_right %>
      </div>
      <div class="col span-input admin-field">
        <%= f.file_field :client_image_right %>
      </div>
  </div>

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :clients_divider_image %>
      </div>
      <div class="col span-input admin-field">
        <%= f.file_field :clients_divider_image %>
      </div> 
  </div>

  <div class="admin-form-heading">
    <p>Home Page Content</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :home_page_title %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :home_page_title %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :home_page_description %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_area :home_page_description, :class => 'tinymce', :rows => 10, :cols => 120 %>
      <%= tinymce %>      
    </div>
  </div>

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :quote %>
      </div>
      <div class="col span-input admin-field">
        <%= f.text_area :quote, :class => 'tinymce', :rows => 10, :cols => 60 %>
        <%= tinymce %>
      </div>
  </div>

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :haylage_link_one %>
      </div>
      <div class="col span-input admin-field">
        <%= f.text_field :haylage_link_one %>
      </div>    
  </div>  

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :haylage_link_two %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :haylage_link_two %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :equipment_link %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :equipment_link %>
    </div>    
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :clients_link %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :clients_link %>
    </div>    
  </div>
      
  <div class="admin-form-heading">
    <p>Menu</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :menu_image %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :menu_image %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :phone_image %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :phone_image %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :phone_number %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :phone_number %>
    </div>
  </div>
 

  <div class="actions">
    <%= f.submit "Save", :class => "button button-new" %>
  </div>
<% end %>
