<%= render 'layouts/admin_menu' %>

<div class="section group heading heading-desktop heading-admin">
	Admin Area
</div>
 
<div class="admin-links">
	<%= link_to "General Settings", general_pages_url %>
</div>

<div class="admin-notes">
	<p>
		Here you can modify a range of settings including home page content.
	</p>
</div>

<div class="admin-links">
	<%= link_to "Categories", categories_url %>
</div>

<div class="admin-notes">
	<p>
		Manage all categories, for eg. About Us, Products etc, here
	</p>
</div>

<div class="admin-links">
	<%= link_to "Subcategories", subcategories_url %>
</div>

<div class="admin-notes">
	<p>
		This is where you can manage/modify subcategories - eg: Meet the Robinsons, Equipment etc.
	</p>
</div>

<div class="admin-links">
	<%= link_to "Subcategory Content", list_items_url %>
</div>

<div class="admin-notes">
	<p>
		Individual client/product/profile contents can be maintainted here
	</p>
</div>