<%= render 'layouts/menu_mobile' %>

<div class="menu">
	<%= render 'layouts/menu_desktop' %>
</div>

<!-- page description in mobile -->
<div class="section group page-title page-title-brown page-title-phone">
	<div class="col-full-row">
		<%= @general_page.home_page_title %>
	</div>
</div>

<!-- Banner images in desktop and mobile -->
<div class="section group banner-desktop">
	<div class="col-full-row">
		<%= image_tag @general_page.home_page_banner_url.to_s %>
	</div>
</div>

<div class="section group banner-mobile">
	<div class="col-full-row">
		<%= image_tag @general_page.home_page_banner_url.to_s %>
	</div>
</div>

<!-- home page description and title  -->
<div class="section-on-top page-title page-title-brown hidden-mobile">
	<div class="col span-3-of-3">
		<%= @general_page.home_page_title %>
	</div>
</div>

<div class="section group page-description">

	<div class="col span-1-of-3 page-desc-text page-desc-home">
		<%= @general_page.home_page_description.html_safe unless @general_page.home_page_description.nil? %>
	</div>

	<div class="section-on-top button button-grey home-page-desc-button">
		<a href="#">The benefits of Haylage</a>
	</div>

</div>

<%= render 'layouts/social_feed_top' %>

<!-- About Us Section -->
<div class="information-area section group">

	<%= image_tag @about.main_image.url(:desktop).to_s  %>

	<div class="section-on-top content-area content-area-brown home-about-content">
		<%= @about.home_page_content.html_safe unless @about.home_page_content.nil? %>
	</div>

	<div class="section-on-top button button-brown about-home-button">
		<%= @about.link_to_subcategory %>
	</div>

</div>

<!-- Products Section -->
<div id= "products" class="information-area section group home-products">

	<%= image_tag @general_page.products_home_page_top_image.url(:desktop).to_s %>

	<div class="section-on-top subcat-page-title subcat-page-title-brown home-products-title">
		<%= @product.name %>
	</div>

	<div class="section-on-top subcat-page-title subcat-page-title-brown home-products-sub-title">
		<%= @product.page_title %>
	</div>

	<div class="section-on-top home-products-content">
		<%= @product.page_description.html_safe unless @product.page_description.nil? %>
	</div>

</div>

<!-- Haylage Section -->

<div class="information-area section group home-haylage">

	<%= image_tag @general_page.haylage_home_banner_url.to_s %>

	<div class="section-on-top haylage-inset-image">
		<%= image_tag @general_page.haylage_inset_image_url.to_s %>
	</div>

	<div class="section-on-top home-haylage-content content-area content-area-green">
		<%= @haylage.home_page_content.html_safe unless @haylage.home_page_content.nil? %>
	</div>

</div>

<!-- Products listing section -->
<div class="information-area section group home-products-listing">

	<% @haylage_products.each do |prod| %>
		<div class="col span-3 home-prod-listing">
			<p><%= prod.name %></p>
			<%= image_tag prod.home_page_image_url.to_s %>
		</div>
	<% end %>

</div>

<!-- product links -->
<div class="section group home-products-links">
	<div class="col span-3 button button-green first-prod-link">
		<%= link_to @haylage.link_one, subcategory_path(@haylage) %>
	</div>
	<div class="col span-3 button button-green second-prod-link">
		<%= link_to @haylage.link_two, subcategory_path(@haylage) %>
	</div>
</div>


<!-- Equipment listing -->
<div class="information-area section group home-equipment">

	<%= image_tag @general_page.equipment_home_banner_url.to_s %>

	<div class="home-equipment-content">
		<%= @equipment.home_page_content.html_safe unless @equipment.home_page_content.nil? %>
	</div>

	<div class="section-on-top button button-brown equip-home-button hidden-mobile">
		<% equip = Subcategory.where(:name=>"Equipment").first %>
		<%= link_to @general_page.equipment_link, subcategory_path(equip) %>
	</div>

</div>

<div class="section group hidden-mobile">
	<div class="col-full-row equip-clients-divider">
		<%= image_tag @general_page.clients_divider_image_url.to_s %>
	</div>
</div>

<!-- Clients Area Desktop
<div class="information-area section group home-clients">
	<div class="side-title side-title-brown">
		<%#= @client.name %>
	</div>
	<div class="client-images logo-images">
		<%#= image_tag @general_page.clients_logo_images_url.to_s %>
	</div>
	<div class="client-images client-image-left">
		<%#= image_tag @general_page.client_image_left_url.to_s %>
	</div>
	<div class="home-client-quote">
		<%#= @general_page.quote.html_safe unless @general_page.quote.nil? %>
	</div>
</div>-->

<div class="placeholders">
	<div class="client-placeholder hidden-mobile">
		<%= image_tag "clients.jpg" %>
	</div>
	<div class="client-placeholder hidden-desktop">
		<%= image_tag "clients-mobile.jpg" %>
	</div>
	<div class="social-placeholder hidden-mobile">
		<%= image_tag "social.jpg" %>
	</div>
	<div class="map-placeholder hidden-mobile">
		<%= image_tag "map.jpg" %>
	</div>	
</div>