<%= render 'layouts/admin_menu' %>

<div class="heading heading-desktop heading-admin">
  Manage General Settings
</div>

<table class="admin-table">
  <thead>
    <tr>
      <th>Home Page Banner</th>
      <th>Menu Image</th>
      <th>Phone Image</th>
      <th>Phone Number</th>
      <th>Products Top Image</th>
      <th>Haylage Home Page Banner</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @general_pages.each do |general_page| %>
      <tr>
        <td><%= image_tag general_page.home_page_banner_url(:thumbnail).to_s %></td>
        <td><%= image_tag general_page.menu_image_url(:thumbnail).to_s %></td>
        <td><%= image_tag general_page.phone_image_url.to_s %></td>
        <td><%= general_page.phone_number %></td>
        <td><%= image_tag general_page.products_home_page_top_image_url(:thumbnail).to_s %></td>
        <td><%= image_tag general_page.haylage_home_banner_url(:thumbnail).to_s %></td>
        <td>
          <%= link_to 'Show', general_page %><br />
          <%= link_to 'Edit', edit_general_page_path(general_page) %>
          <%#= link_to 'Destroy', general_page, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

