<div class="section group heading heading-desktop heading-admin">
	Sign in
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="section group form-section">

  	<div class="col span-label form-label">
  		<%= f.label :email %>
  	</div>

  	<div class="col span-input">
  		<%= f.email_field :email, autofocus: true %>
  	</div>

  </div>

  <div class="section group form-section">

  	<div class="col span-label form-label">
  		<%= f.label :password %>
  	</div>

  	<div class="col span-input">
  		<%= f.password_field :password, autocomplete: "off" %>
  	</div>

  </div>

  <div class="section group form-section">

	  <% if devise_mapping.rememberable? -%>
	    <div class="col span-label form-label">
	    	<%= f.check_box :remember_me %>
	    </div>
	    <div class="col span-input">
	    	<%= f.label :remember_me %>
	    </div>
	  <% end -%>  	
  </div>

  	<%= f.submit "Sign in", :class=>"button button-submit" %>
<% end %>

<%#= render "devise/shared/links" %>
