<%= render 'layouts/admin_menu' %>

<%= form_for(@list_item) do |f| %>
  <% if @list_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list_item.errors.count, "error") %> prohibited this list_item from being saved:</h2>

      <ul>
      <% @list_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% f.hidden_field('subcategory_id', :value => params[:subcategory_id]) %>

  <div class="admin-form-heading">
    <p>Choose Subcategory</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :subcategory_id %>
    </div>
    <div class="col span-input admin-field">
      <%= f.collection_select :subcategory_id, Subcategory.order(:name), :id, :name, :include_blank=>true %>
    </div>
  </div>

  <div class="admin-form-heading">
    <p>Details</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :name, "Name/Title" %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :link_text, 'Link Text (optional)' %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_field :link_text %>
    </div>
  </div> 

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :description %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_area :description, :class => 'tinymce', :rows => 10, :cols => 60 %>
      <%= tinymce %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :optional_information %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_area :optional_information, :class => 'tinymce', :rows => 10, :cols => 60 %>
      <%= tinymce %>

    </div>
  </div>     

  <div class="admin-form-heading">
    <p>Image(s)</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :item_image, 'Image' %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :item_image %>
    </div>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :home_page_image, "Homepage Image (optional)" %>
    </div>
    <div class="col span-input admin-field">
      <%= f.file_field :home_page_image %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit "Save", :class => "button button-new" %>
  </div>
<% end %>
