<%= render 'layouts/admin_menu' %>

<div class="heading heading-desktop heading-admin">
  Subcategory Content
</div>

<% @subcategories.each do |subcategory| %>
  <% @list_items = ListItem.where(:subcategory_id => subcategory.id) %> 
  <div class="admin-section-heading">
    <%= subcategory.name %>
  </div>

  <table class="admin-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Subcategory</th>
        <th>Description</th>
        <th>Image</th>
        <th>Home Page Image</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @list_items.each do |list_item| %>
        <tr>
          <td><%= list_item.name %></td>
          <td><%= list_item.subcategory.name %></td>
          <td><%= list_item.description.html_safe unless list_item.description.nil? %></td>
          <td><%= image_tag list_item.item_image_url(:thumbnail).to_s %></td>
          <td><%= image_tag list_item.home_page_image_url(:thumbnail).to_s %></td>
          <td>
            <%= link_to 'Show', list_item %><br />
            <%= link_to 'Edit', edit_list_item_path(list_item) %><br />
            <%= link_to 'Destroy', list_item, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table> 

  <%= link_to 'Create Content', new_list_item_path, :class => "button button-new" %> 

<% end %>
