/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{

	// STYLING THAT APPLIES TO ALL DEVICES. For individual devices see their relevant stylesheets

	li{list-style: none;}

	.admin-section-heading{
		font-family: "Verdana";
		font-weight: 100;
		font-size: 24px;
		border-bottom: 1px solid #000000;

		margin-top: 3%;
	}

	.admin-form-heading{
		font-family: "Courier New";
		font-weight: 400;
		font-size: 20px;
		border-bottom: 1px solid #848484;
	}

	.admin-form-note{
		p{
			font-family: "Verdana";
			font-weight: 100;
			font-size: 16px;
			font-style: italic;
			color: #F9F9F9;
			text-align: center;
		}
	}

	.admin-label{
		font-family: "Verdana";
		font-weight: 100;
		font-size: 18px;
		min-width: 300px;
	}

	.admin-table{
		font-family: "Verdana";
		font-size: 14px;

		margin: 5% auto 5% auto;
		width: 98%;

		border-collapse: collapse;

		a, a.visited{
			color: #848484;
			text-decoration: none;
		}

		thead{
			background-color: #000000;
			color: #FFFFFF;
			font-weight: bold;
		}

		td{
			color: #000000;
			font-weight: 100;
			text-align: center;
		}

		tbody{
			tr:nth-of-type(odd){background-color: #FFF;}
			tr:nth-of-type(even){background-color: #F0F0F0;}			
		}
	}

	#admin-wrap{
		width: 50%;
		margin: 0 auto 3% auto;
	}

	#admin-menu-title, #admin-menu{
		font-family: "Verdana";
		font-weight: 100;
		
		text-align: center;
	}

	#admin-menu-title{
		position: relative;
		left: 0;
		width: 90%;
		background-color: #000;
		color: #FFF;
		font-size: 24px;
		padding: 1% 0 1% 0;
	}

	#admin-menu{
		background-color: #FFF;
		color: #000;
		font-size: 16px;
		width: 100%;

		clear: both;
		display: none;

		a, a.visited{
			color: #000;
			text-decoration: none;
		}

		li{
			margin: 0;
			padding: 2% 0 2% 0;
			border-bottom: 1px solid #000;
		}
	}

	ul#admin-menu{
		width: 90%;
		padding-left: 0 !important;
		margin-left: 0 !important;
	}

	.alert, .notice{
		font-family: "Verdana";
		font-size: 16px;
		font-weight: 100;
		color: #848484;
	}

	.heading{
		font-family: "Courier New";
		font-weight: bold;
		text-align: center;
		margin: 0 0 3% 0;

		border-bottom: 1px solid #F0F0F0;
	}

	.heading-admin{color: #848484;}

	.information-area{
		img{width: 100%}
	}

	.admin-notes{
		font-family: "Courier New";
		font-size: 16px;
		font-weight: 100px;
		font-style: italic;
		color: #848484;
		text-align: center;
	}

	/* buttons */

	.button{
		font-family: "Verdana", sans-serif;
		font-weight: bold;
		font-weight: 100;
		text-align: center;
		border-radius: 3px;
		border: none;

		color: #FFF;
		text-decoration: none;

		a{
			color: #FFF;
			text-decoration: none;
		}
	}

	.button-new, .button-submit{
		background-color: #428bca;
		font-size: 16px;
		margin-top: 3%;
	}

	.button-new{padding: 1% 2% 1% 2%;}

	.button-grey{
		background-color: #84735F;
		padding: 1%;
	}

	.button-brown{
		background-color: rgba(69, 40, 42, 1);
		padding: 1%;
	}

	.button-green{
		background-color: #4E751C;
		padding: 1%;
		width: 20%;
	}

	.button-submit{
		width: 13%;
		padding: 1%;
	}

	.about-home-button{
		top:80%;
		left: 45%;
		width: 22%;
	}

	.equip-home-button{
		top: 70%;
		right: 5%;
		width: 15%;
	}

	.list-item-button{
		top: 70%;
		right: 10%;
		width: 15%;
	}

	.rob-list-item-button{
		top:80%;
		left: 23%;
		width: 25%;
	}

	.first-prod-link, .second-prod-link{float: right !important;}

	/* forms */

	.form-section{
		color: #848484;
		font-family: "Verdana";
		font-weight: 300;
		font-size: 20px;

		margin: 2% auto 2% auto;
		width: 95%;
	}

	/* everything else */

	.page-title, .content-area, .category-content-area, .subcat-page-title{color: #FFF;}

	.page-title{
		font-family: "Trajan Pro";
		text-align: center;
	}

	.page-title-brown{background-color: rgba(69, 40, 42, 0.9)}

	.side-title-brown{background-color: #4A4034;}

	.side-title{
		width: 22%;
		margin-top: 3%;
		padding: 1%;

		font-family: "Verdana", sans-serif;
		color: #FFF;
		font-size: 35px;
		font-weight: 100;
		text-align: center;
	}

	.page-description{
		background-color: #BDB4A7;

		color: #FFF;
		font-family: "Verdana", sans-serif;
		font-weight: 100;

		margin-top: -1% !important;
		width: 100%;
	}

	.content-area, .category-content-area{
		font-family: "Verdana", sans-serif;
		text-align: left;
	}

	.subcat-area{
		background-color: #A1B098;
		margin-top: -1%;
		padding: 1% 0 1% 0;

		img{
			margin: 1% 0 1% 0;
			width: 100%;
		}
	}

	.item-image{background-color: #FFF;}

	.item-image, .rob-item-image, .subcat-item-image{
		img{width: auto;}
	}

	.content-title{
		background-color: rgba(78, 117, 28, 0.8);

		p{
			color: #FFF;
			margin: 0;
			padding: 1% 3% 1% 3%;			
		}
	}

	.subcat-content-title{
		bottom: 2%;
		left: 0;
		text-align: center;
	}

	.meet-rob-content-title{
		top: 40%;
		left: 15%;
		width: 70%;

		text-align: center;
		font-family: "Verdana";
	}

	.rob-item-details{
		background-color: rgba(255, 255, 255, 0.7);
		h4{
			font-family: "Trajan Pro";
			color: rgba(69, 40, 42, 0.8);
			text-align: center;
			margin: 1% 5% 3% 0;
		}
	}

	.rob-quote{
		width: 100%;
		background-color: rgba(255, 255, 255, 0);

		p{
			color: rgba(69, 40, 42, 0.7);
			font-family: "Verdana";
			margin: 1% 0 0 0;
			text-align: center;
			line-height: 34px;
			font-size: 20px;
		}
	}

	.rob-profile-optional-info{
		color: #FFF;
		text-align: center;
		font-family: "Verdana";
	}

	.rob-profile-optional-info:nth-of-type(odd){background-color: #6C4A3E;}
	.rob-profile-optional-info:nth-of-type(even){background-color: #97922C;}

	.equip-clients-divider{
		img{width: 100%;}
	}

	.home-clients{
		background-color: #84735F;
	}

	.client-images{
		margin: 0;
		padding: 0;
		position: relative;

		img{width: auto;}
	}

	.logo-images{margin: 3% 0 0 10%;}

	.client-image-left{margin: 3% 0 0 10%;}

	.placeholders{
		img{
			width: 100%;
			margin-top: -1%;
		}
	}

	/* responsive grid */

	.section-on-top{
		clear: none;
		position: absolute;
		//top: 0;
		z-index: 1000;
	}

	.section{
		clear: both;
		padding: 0;
		margin: 0 auto;
		position: relative;
	}

	.col-full-row{
		display:block;
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0;
	}


	.col{
		display: block;
		float: left;
	}

	.col:first-child{margin-left: 0;}

	.group:before, .group:after{
		content: "";
		display: table;
	}

	.group:after{clear: both;}

	.group{zoom: 1;}

	/* social media */	

	.social-feed-top{
		background-color: #F4F4F4;
	}

	.like-box-frame{
		position: relative;
		z-index: 5001;
		margin: -3% 6% -4% 0 !important;

		left: 3%;					

		background-color: #FFF;
		color: #004C99;	
		
		font-family: "Verdana", sans-serif;
		font-weight: bold;

		border: 10px solid #A1B098;
		border-radius: 25px;

		font-size: 12px;	

		h4{
			margin: 0;
			padding: 0;
			color: #99BA4B;
			text-align: center;
			font-size: 24px;
			font-weight: 100;
		}

		img{
			margin: 4% 4% 0 4%;
			padding: 0;
			float: left;
		}		

		.like-button{
			position: relative;
			z-index: 5000;
			float: right;
		}				
	}

	//STYLING THAT APPLIES TO TABLET AND DESKTOP

	@media (min-width: 768px){

		#nav-wrap{display:none !important;}

		.hidden-desktop, .subcat-area-mobile{display:none}

		.page-title-phone{display: none;}

		.col{margin: 1% 0 1% 1.6%;}

		.span-label{width: 23%;}
		.span-input{width: 50%;}

		.menu{
			margin-top: 0 !important;
			font-family: "Courier New", sans-serif;
			font-weight: bold;
			color: #848484;
			z-index: 5005;

			a{
				color: #848484;
				text-decoration: none;
			}			
		}

		.menu-list-phone{
			padding-left: 0;
			font-size: 24px;			
		}

		.menu-list-links{
			padding-left: 0;
			font-size: 18px;
			text-align: left;

			li{margin: 3% 0 3% 0;}
		}		

		.page-title{top: 30%;}

		.page-desc-text{
			float: right;
			padding: 0;	
			text-align: center;
			line-height: 34px;
		}

		.page-desc-subcat{font-size: 22px;}

		.information-area{margin-top: -1%;}

		.content-area-brown, .subcat-page-title-brown{background-color: rgba(69, 40, 42, 0.7);}

		.content-area-green{background-color: rgba(78, 117, 28, 0.7);}

		.content-area, .category-content-area{
			padding: 2%;

			h1, h2, h3, h4, h5, h6{
				padding: 0;
				margin: 0 0 2% 0;
			}

			p{
				padding: 0;
				margin: 0;
			}
		}

		.subcat-page-title{
			font-weight: 700;
			width: 30%;
			text-align: center;
		}

		.subcat-content-title{
			width: 38%;
			font-family: "Trajan Pro";
		}

		.home-about-content{
			width: 60%;
			right: 18%;

			h1, h2, h3, h4, h5, h6{font-size: 30px;}
		}

		.home-products-title, .home-products-sub-title{font-family: "Courier New";}

		.home-products-title{
			padding: 1% 3% 1% 3%;
			right: 48%;
		}

		.home-products-sub-title{
			padding: 1%;
			right: 51%;
		}

		.home-products-content{
			width: 45%;

			color: #4A4034;
			font-family: "Verdana";
			font-weight: bold;
			font-size: 17px;
			line-height: 50px;
		}

		.home-haylage-content{
			width: 50%;
			right: 8%;

			h1, h2, h3, h4, h5, h6{font-size: 25px;}
		}

		.haylage-inset-image{
			z-index: 5003;

			img{
				border: 10px solid #FFF;

				transform: rotate(-10deg);
				-webkit-transform: rotate(-10deg);
				-ms-tranfsorm: rotate(-10deg);

			}
		}

		.home-products-listing{
			background-color: #BDB4A7;
			padding-bottom: 3%;
		}

		.home-prod-listing{
			display:block;
			text-align: center;

			background-color: #FFF;
			
			border: 10px solid #A1B098;
			border-radius: 15px;

			p{
				font-family: "Courier New";
				font-weight: 100;
				font-size: 35px;
				color: #848484;
				margin: 1% 0 2% 0;
			}			

			img{
				width: 70%;
				text-align: center;
				margin-bottom: 2%;
			}
		}

		.home-equipment{background-color: #F0F0F0;}

		.home-equipment-content{
			width: 49%;
			margin: 0 auto;

			font-family: "Verdana";
			font-weight: 100;
			font-size: 18px;
			line-height: 22px;
			color: #84735F;

			h1, h2, h3, h4, h5, h6{
				font-size: 24px;
				font-weight: bold;
			}
		}

		.item-details{
			font-family: "Verdana";
			color: #84735F;
		}

		.subcat-item-details{
			top: 1%;
			right: 1%;			
		}			

	}

}