// DESKTOP STYLING

@media screen only and (min-width: 1040px){

	/* hide mobile only stuff */
	.banner-mobile, .like-button-tablet, .subcat-area-mobile{display:none !important;}

	/* general styling */

	.page-body{
		width: 1167px;
		margin: 0 auto;
		padding: 0;		
	}

	/* menu */

	.menu{margin-left: 2% !important;}

	.menu-list-phone{margin: -83% 0 83% 0;}	

	.menu-list-links{margin: -76% 0 76% 30%;}

	/* buttons */

	.button{font-size: 22px;}

	.button-grey{
		width: 25%;		
	}

	.home-page-desc-button{
		top: -30%;
		margin: 16% 3% 2% 50%;
	}
	.subcat-desc-button{margin: 16% 3% 2% 50%;}	

	.first-prod-link, .second-prod-link{width: 14%;}

	.first-prod-link{margin:-2% 7% 2% 7% !important;}

	.second-prod-link{margin:-2% 4% 2% 4% !important;}

	/* admin page headings */

	.heading-desktop{font-size: 50px;}

	/* grid of three */

	.span-3-of-3{width: 100%;}
	.span-2-of-3{width: 66.1%;}
	.span-1-of-3{width: 32.2%;}

	/* dynamic grid of three */

	.span-3{width: 25%;}

	/* grid of four */

	.span-5-of-5{width: 100%;}
	.span-4-of-5{width: 16%;}
	.span-3-of-5{width: 16%;}
	.span-2-of-5{width: 16%;}
	.span-1-of-5{width: 16%;}

	/* social media */

	.like-box-frame{
		width: 250px;
		height: 180px;
	}

	/* everything else */

	.page-title{
		padding: 1% 3% 1% 3%;
		left: 36%;
		font-size: 30px;
	}

	.page-desc-home{font-size: 26px;}

	.page-desc-text{
		width: 64%;
		margin: -1% 5% 1% 0 !important;
		min-height: 200px;	
	}

	.content-area, .category-content-area{font-size: 22px;}

	.content-area{
		top:23%;
		p{line-height: 36px;}
	}

	.category-content-area{top: 13%;}

	.home-about-contet{top: 23%;}


	.home-products-title{
		top: 19%;
		font-size: 42px;
	}

	.home-products-sub-title{
		font-size: 28px;
		top: 43%;
	}

	.home-products-content{
		top: 62%;
		right: 34%;	
		line-height: 50px;	
	}

	.home-haylage-content{top:10%;}	

	.haylage-inset-image{
		top: 0;
		left: 6%;
		img{width: 76% !important;}
	}

	.home-prod-listing{ margin: -2% 3% 0 3% !important;}

	.meet-rob-content-title{font-size: 32px;}

	.subcat-content-title{font-size: 62px}

	.rob-item-details{
		top: 10%;
		left: 10%;
		width: 50%;
		font-size: 32px;

		h4{
			font-size: 45px;
			text-align: center;
		}
	}

	.rob-quote{
		p{
			font-size: 18px;
			line-height: 27px;
		}
	}

	.rob-profile-optional-info{
		font-size: 14px;
		line-height: 23px;
		margin-top:6%;
		padding: 1% 0 1% 0;

		p{padding: 0 3% 0 3%;}
	}

}