// Place all the styles related to the general_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-links{
	background-color: #949494;
	color: #FFF;
	font-family: "Verdana";
	font-weight: 100;
	font-size: 30px;
	text-align: center;

	padding: 1% 2% 1% 2%;
	margin: 0 auto;
	margin-top: 3%;
	border-radius: 5px;
	width: 30%;

	a, a.visited{
		color: #FFF;
		text-decoration: none;
	}
}


