/* Styling for phones */

@media screen only and (min-width: 340px) and (max-width: 770px){

	#nav{
		clear: both !important;
		position: relative;
		background-color: #696969;

		font-family: "Verdana";
		font-weight: 100;
		color: #646464;
		text-align: center;
		display: none;

		a, a.visited{
			color: #FFF;
			text-decoration: none;
			border-bottom: 1px solid #F8F8F8;
		}

		li{
			margin: 0 7% 0 0;
			padding: 2% 1% 2% 1%;
		}
	}

	#mobile-icon, #nav-wrap{
		position: absolute !important;
		z-index: 6000 !important;
		top: 0 !important;
		width: 96%;

		background-color: #696969;
		color: #F4F4F4;
		display: block !important;

		font-family: "Verdana";
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}	

	/* hide desktop only code and display mobile elements */

	.menu, .banner-desktop, .button-grey, .social-feed-top, 
	.about-home-button, .home-products, .home-haylage, 
	.haylage-inset-image, .home-haylage-content, .home-products-listing, 
	.hidden-mobile, .social-placeholder, .map-placeholder{display: none;}

	//set imag widths for mobile

	.main-image, .subcat-divider-image, .item-image-mobile{
		img{width: 99%;}
	}

	.link-text-mobile{
		font-family: "Verdana";
		font-weight: 100;
		font-size: 16px;

		a, a.visited{
			color: #FFF;
			text-decoration: none;
		}
	}
	
	.banner-mobile{
		display: block !important;
		img{width: 100%;}
	}

	.page-title-phone{
		display: block;
		top: 0;
		width: 100%;
		font-size: 30px;
		margin-top: 4% !important;
	}

	.subcat-title-phone{
		margin: 0 !important;
		text-align: center !important;
	}

	.subcat-content-title{
		width: 100%;
		font-family: "Verdana";
		margin-top: -1%;
		font-size: 20px;

		p{
			padding:1% 0 1% 0;
			margin: 0;
		}
	}

	.subcat-area-mobile{margin-top: 1% !important;}

	/* general styling */

	.page-body{
		width: 99% !important;
	}

	.section-on-top{position:relative;}

	/* responsive grid tweaks  */

	.col{margin: 1% 0 1% 0;}

	/* grid of three */
	
	.span_3_of_3{width: 100%;}
	.span_2_of_3{width: 100%;}
	.span_1_of_3{width: 100%}
	.span-3

	/* individual element tweaks */

	.page-desc-text{
		width: 90%;
	}

	.page-desc-text, .content-area{
		padding:  0 0 3% 5%;
		line-height: 32px;
		font-size: 18px !important;
	}

	.information-area{
		//margin-top: -1% !important;
		margin: 0;
		padding: 0;
		text-align: center;

		p{
			margin:0;
			padding:0 1% 0 1%;
		}
	}

	.content-area-brown{background-color: rgba(69, 40, 42, 1)}

	.content-area{
		margin-top: -2%;
		width: 95%;
		p{
			margin: 0 1% 0 1%;
		}
	}

	.home-equipment{
		img{width: 99%;}
	}

	.home-equipment-content{
		width: 98%;
		text-align: center;
		display: block;
		font-size: 16px;
	}

	.client-placeholder{margin-top: 7% !important;}

	.item-title-mobile, .item-description-mobile,
	.item-optional-info-mobile{
		font-family: "Verdana";
		font-weight: 100;
		font-size:18px;
		color: #FFF;
	}

	.item-description-mobile:nth-of-type(odd){background-color: #6C4A3E;}
	.item-description-mobile:nth-of-type(even){background-color: #97922C;}



}