@media screen only and (min-width:717px) and (max-width:1040px){

	/* dynamic grid of three */

	.span-3{width: 20%;}

	/* social media */

	.social-media-image{
		img{
			width: 70%;
			margin: 0 45% 0 45% !important;
		}
	}

	.like-box-frame{
		width: 190px;
		height: 160px;

		img{
			width: 40%;
		}
	}

	/* general styling */	

	.page-body{width:99%;}

	.banner-mobile, .like-button-desktop{display:none;}

	.banner-desktop{
		img{width: 100%;}
	}

	.heading-admin{font-size: 50px;}

	.menu{margin-left: 4% !important;}

	.menu-list-phone{margin: -120% 0 120% 0;}

	.menu-list-links{margin: -113% 0 113% 25%;}

	.button{font-size: 18px;}

	.button-grey{
		margin: 20% 3% 2% 50%;
		width: 30%;
	}

	.home-page-desc-button{
		top: -27%;
		right: 10%;
	}

	.subcat-desc-button{
		margin-top: 15% !important;
		height: 20px;

		a{
			position:absolute;
			left: 55%;
		}
	}

	.first-prod-link, .second-prod-link{width: 16% !important;}

	.first-prod-link{margin:-2% 10% 2% 10% !important;}

	.second-prod-link{margin:-2% 4% 2% 4% !important;}	

	.page-title{
		padding:1%;
		left: 40%;
		font-size: 26px;
	}

	.page-desc-text{
		font-size: 20px;
		width: 55%;
		margin: -1% 3% 1% 0 !important;
		min-height: 230px;
	}

	.content-area{
		font-size: 17px;
		p{line-height: 32px;}
	}

	.home-about-content{
		top: 20%;
		font-size: 18px;
		line-height: 28px;
	}

	.home-products-title{
		top: 10%;
		font-size: 32px;
	}

	.home-products-sub-title{
		top: 33%;
		font-size: 22px;
	}

	.home-products-content{
		top: 52%;
		right: 38%;

		line-height: 30px!important;
	}

	.home-haylage-content{
		top: 5%;

		p{font-size: 15px;}

		h1, h2, h3, h4, h5, h6{font-size: 18px !important}
	}

	.haylage-inset-image{
		top: 10%;
		left: 6%;;

		img{width:50% !important;}
	}

	.home-prod-listing{
		margin: 0 5% 0 5% !important;
		p{min-height: 76px;}
	}

	.meet-rob-content-title{
		font-size: 30px;
		width: 80%;
	}

	.rob-item-details{
		width: 50%;
		top:10%;
		left: 15%;
		 h4{font-size: 25px;}
	}

	.item-listing{background-color: #FFF;}

	.subcat-item-details{
		width: 57%;
		float: right;
	}

	.subcat-content-title{font-size: 40px;}

	.list-item-button{top: 80% !important;}
}
