<%= render 'layouts/admin_menu' %>

<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="admin-form-heading">
    <p>Images</p>
  </div>

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :banner_image %>
      </div>
      <div class="col span-input admin-field">
        <%= f.file_field :banner_image %>
      </div>      
  </div>

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :main_image %>
      </div>
      <div class="col span-input admin-field">
        <%= f.file_field :main_image %>
      </div>
  </div>

  <div class="admin-form-heading">
    <p>Category Page Content</p>
  </div>

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :name, "Category Name" %>
      </div>
      <div class="col span-input admin-field">
        <%= f.text_field :name %>
      </div>
  </div>

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :page_title %>
      </div>  
      <div class="col span-input admin-field">
        <%= f.text_field :page_title %>
      </div>        
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :page_description %>
    </div>
    <div class="col span-input admin-field">
      <%= f.text_area :page_description, :class => 'tinymce', :rows => 10, :cols => 60 %>
      <%= tinymce %>
    </div>
  </div>

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :page_content %>
      </div>
      <div class="col span-input admin-field">
        <%= f.text_area :page_content, :class => 'tinymce', :rows => 10, :cols => 60 %>
        <%= tinymce %>
      </div>      
  </div>

  <div class="section group">
      <div class="col span-label admin-label">
        <%= f.label :link_to_subcategory %>
      </div>
      <div class="col span-input admin-field">
        <%= f.text_field :link_to_subcategory %>
      </div>      
  </div>

  <div class="admin-form-heading">
    <p>Home Page Content</p>
  </div>

  <div class="section group">
    <div class="col span-label admin-label">
      <%= f.label :home_page_content, "Homepage Content (optional)" %>
    </div> 
    <div class="col span-input admin-field">
      <%= f.text_area :home_page_content, :class => 'tinymce', :rows => 10, :cols => 60 %>
      <%= tinymce %>
    </div>           
  </div>


  <div class="actions">
    <%= f.submit 'Save', :class=>"button button-new" %>
  </div>
<% end %>
