<%= render 'layouts/admin_menu' %>

<div class="section group heading heading-desktop heading-admin">
  Categories
</div>

<table class="admin-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Page Title</th>
      <th>Number of Subcategories</th>
      <th>Banner Image</th>
      <th>Main Image</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.page_title %></td>
        <td><%= category.subcategories.count %></td>
        <td><%= image_tag category.banner_image_url(:thumbnail).to_s %></td>
        <td><%= image_tag category.main_image_url(:thumbnail).to_s %></td>
        <td>
          <%= link_to 'Show', category %><br />
          <%= link_to 'Edit', edit_category_path(category) %><br />
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, :class => 'button button-new' %>
