<%= render 'layouts/menu_mobile' %>
<div class="menu">
	<%= render 'layouts/menu_desktop' %>
</div>

<!-- banner image -->
<div class="section group banner-desktop">
	<div class="col-full-row">
		<%= image_tag @category.banner_image_url.to_s %>
	</div>
</div>

<!-- page title and description -->
<div class="section-on-top page-title page-title-brown">
	<div class="col span-3-of-3">
		<%= @category.page_title %>
	</div>
</div>

<div class="section group page-description">

	<div class="col span-1-of-3 page-desc-text page-desc-home">
		<%= @category.page_description.html_safe unless @category.page_description.nil? %>
	</div>

</div>

<%= render 'layouts/social_feed_top' %>

<!-- page content -->
<div class="information-area section group">

	<%= image_tag @category.main_image.url(:desktop).to_s  %>

	<div class="section-on-top category-content-area content-area-brown home-about-content">
		<%= @category.page_content.html_safe unless @category.page_content.nil? %>
	</div>

	<div class="section-on-top button button-brown about-home-button">
		<%= @category.link_to_subcategory %>
	</div>

</div>

<div class="placeholders banner-desktop">
	<%= image_tag "map.jpg", :id => "map" %>
</div>
