<div class="section group">
	<nav id="admin-wrap">
		<ul id="admin-menu">
			<li><%= link_to "Back to Site", root_url %></li>
			<li><%= link_to "General Settings", general_pages_url %></li>
			<li><%= link_to "Categories", categories_url %></li>
			<li><%= link_to "Subcategories", subcategories_url %></li>
			<li><%= link_to "Subcategories Content", list_items_url %></li>
		</ul>
	</nav>	
</div>