<div class="section">
	<div class="menu col span-1-of-3 section-on-top">
		<div class="col-full-row">
			<% general_page = GeneralPage.first %>
			<%= image_tag general_page.menu_image_url.to_s %>
			<ul class="menu-list-phone">
				<li><%= image_tag general_page.phone_image %><%= general_page.phone_number %></li>
			</ul>
			<ul class="menu-list-links">
				<li><%= link_to "Home", root_url %></li>
				<% about = Category.where(:name=>"About Us").first %>
				<li><%= link_to "About Us", category_path(about) %></li>
				<% meet = Subcategory.where(:name=>"Meet The Robinsons").first %>
				<li><%= link_to "The Robinsons", subcategory_path(meet) %></li>
				<li><%= link_to "Our Products", root_url(:anchor => "products") %></li>
				<% client = Subcategory.where(:name=>"Our Clients").first %>
				<li><%= link_to "Our Clients", subcategory_path(client) %></li>
				<li><%= link_to "Contact Us", :anchor => "map" %></li>
				<% if user_signed_in? %>
				<li><%= link_to "Admin Area", admin_path %></li>
				<% end %>				
			</ul>
		</div>
	</div>
</div>