<nav id="nav-wrap">

	<ul id="nav">
		<li><%= link_to "Home", root_url %></li>
		<% about = Category.where(:name=>"About Us").first %>
		<li><%= link_to "About Us", category_path(about) %></li>
		<% meet = Subcategory.where(:name=>"Meet The Robinsons").first %>
		<li><%= link_to "The Robinsons", subcategory_path(meet) %></li>
		<li><%= link_to "Our Products", root_url(:anchor => "products") %></li>
		<% client = Subcategory.where(:name=>"Our Clients").first %>
		<li><%= link_to "Our Clients", subcategory_path(client) %></li>
		<li><%= link_to "Contact Us", :anchor => "map" %></li>
	</ul>

</nav>