<div class="section group social-feed-top">
	<div class="col span-5-of-5 like-box-frame">
		<h4>TOP NEWS</h4>
		Robinson Farms <div class="fb-like" data-href="https://www.facebook.com/robinson.farms.3" data-width="60px" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        <%= image_tag("fb-image-01.png") %>
        <%= image_tag("fb-image-02.png") %>		
	</div>
	<div class="col span-4-of-5 social-media-image">
		<%= link_to image_tag("facebook.png"), 'https://www.facebook.com/RobinsonFarms.ie?fref=ts',:target => "something_unique" %>
	</div>
	<div class="col span-3-of-5 social-media-image">
		<%= link_to image_tag("twitter.png"), 'https://twitter.com/RobinsonFarms', :tarbeg => "something_unique" %>
	</div>
	<div class="col span-2-of-5 social-media-image ">
		<%= link_to image_tag("youtube.png"), 'https://www.youtube.com/channel/UCHC4dL8-8TTdhI892Aj25UQ', :target => "soomething_unique" %>
	</div>
	<div class="col span-1-of-5 social-media-image">
		<%= link_to image_tag("instagram.png")%>
	</div>
</div>