<!DOCTYPE html>
<html>
<head>
  <title>RobinsonFarms</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="page-body">
		<!-- this div is needed for the facebook like button to work -->
		<div id="fb-root"></div>
		<%= yield %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>		
	</div>

	<!-- fb like button script - for some reason this is not being read when placed in application.js -->
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>	

	<!-- script for mobiole menu not working in application.js -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

	<script type="text/javascript">
	jQuery(document).ready(function($){

		/* prepend menu icon */
		$('#nav-wrap').prepend('<div id="menu-icon">Menu</div>');
		
		/* toggle nav */
		$("#menu-icon").on("click", function(){
			$("#nav").slideToggle();
			$(this).toggleClass("active");
		});

	});
	</script>

</body>
</html>
